.host-layout {
  padding: 1rem 4rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.host-layout a {
  margin-right: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4d4d4d;
  text-decoration: none;
}
.host-layout a:hover {
  font-weight: 700;
  color: #161616;
  text-decoration: underline;
}
