.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    height: 11vh;
  }
  
  .header-logo {
    font-size: 1.6rem;
    font-weight: 900;
    text-decoration: none;
    color: black;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }
  
  .navbar a {
    font-size: 1rem;
    font-weight: 600;
    color: #4d4d4d;
    text-decoration: none;
  }
  
  .navbar a:hover{
    text-decoration: underline;
    color: #161616;
  }

  .navbar a.active{
    text-decoration: underline;
    color: #161616;
  }