.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background: #fff7ed;
  height: 11vh;
}

.header-logo {
  font-size: 1.6rem;
  font-weight: 900;
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.nav-links {
  font-size: 1rem;
  font-weight: 600;
  color: #4d4d4d;
  text-decoration: none;
}

.nav-links:hover{
  text-decoration: underline;
  color: #161616;
}

.page-footer {
  background-color: #252525;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AAAAAA;
  height: 8vh;
}

