*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Inter;
  background-color: #fff7ed;
}

#root {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}
